[submodule ".registry"]
	path = .registry
	url = https://github.com/agallinat/agallinat.r-universe.dev
	branch = HEAD
[submodule "datablinder"]
	path = datablinder
	url = https://github.com/agallinat/datablinder
[submodule "netkit"]
	path = netkit
	url = https://github.com/agallinat/netkit
